@import "../../style/color";

.container{
  width: 33rem;
  height: 18rem;
  margin: 1rem 0 0 30rem;
  padding-left: 2rem;
  display: flex;
  gap: 16rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #ddd;

  .header{
    font-size: 1.5rem;
    color: $bg_color;
    line-height: 3rem;
  }

  .selected-card{
    width: 8rem;
    height: 13rem;
    padding: 1.5rem 0 0 0.5rem;
    border-radius: 1rem;
    background-color: $bg_color;
    text-align: center;
    font-size: 3rem;
    color: $text_color;
  }
}
.card {
  display: flex;
  gap: 2rem;
  padding: 3rem 2rem 0 2rem;

  .numbers {
    width: 12rem;
    height: 11rem;
    padding-top: 4rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: $bg_color2;
    color: $text_color;
  }
  .numbers:hover{
    transform: translateY(-3rem);
    background-color: $bg_color;
  }
}

.btn{
  margin: 3rem 0 0 28rem;
  display: flex;
  gap: 8rem;

  button{
    border: none;
    border-radius: 5rem;
    height: 2rem;
    width: 8rem;
    background-color: $bg_color;
    color: $text_color;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .container{
    width: 23rem;
    height: auto;
    margin-left:15rem;
    padding: 1rem 0 1rem 2rem;
    gap: 6rem;
  }

  .card{
    display: grid;
    grid-template-columns: auto auto auto;

    .numbers{
      width: 9rem;
      height: 11rem;
      margin-left: 3rem;
    }
  }

  .btn{
    margin-left:13rem;
    width: 80%;
  }
}

