$bg_color:#1F6E8C;
$bg_color2:#6096B4;
$text_color:#FFF;

.container{
  width: 30rem;
  height: 18rem;
  margin-left: 30rem;
  margin-top: 1rem;
  padding-left: 4rem;
  display: flex;
  gap: 14rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #ddd;

  .header{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $bg_color;
  }

  .selected-card{
    width: 8rem;
    height: 13rem;
    margin-top: 0.5rem;
    padding: 1.5rem 0 0 0.5rem;
    border-radius: 1rem;
    background-color: $bg_color;
    text-align: center;
    font-size: 3rem;
    color: $text_color;
  }
}
.card {
  display: flex;
  gap: 2rem;
  padding: 3rem 2rem 0 2rem;

  .numbers {
    width: 12rem;
    height: 11rem;
    padding-top: 4rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: $bg_color2;
    color: $text_color;
  }
  .numbers:hover{
    transform: translateY(-3rem);
    background-color: $bg_color;
  }
}

.btn{
  margin-left: 35rem;
  margin-top: 3rem;
  display: flex;
  gap: 8rem;

  button{
    border: none;
    border-radius: 5rem;
    height: 2rem;
    width: 8rem;
    background-color: $bg_color;
    color: $text_color;
    cursor: pointer;
  }
}


